@import "./partials/variables";
@import "./partials/reset";


body {
  background-color: $fondo;
}

/* INICIO DE HEADER Y NAV */

.navbar-brand img {
  width: 50px;
  height: auto;
  padding: 5px;
  animation: girar 4s infinite;
}

@keyframes girar {
  to {
    transform: rotate(-180deg);
  }

  from {
    transform: rotate(180deg);
  }
}

.titulo {
  color: #eceff1;
}

.enlace {
  color: #eceff1;

  &:hover {
    background-color: $hover;
    transition: 0.5s;
  }
}

/* Fin de header y nav*/

/* INICIO DE BANNER */

.banner {
  position: relative;
  width: $total;
  height: 80vh;
  background-color: $banner;
  display: map-get($display,"flexible");
  flex-direction: column;
  justify-content: $centro;
  align-items: $centro;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: $total;
    height: $total;
    object-fit: cover;
    z-index: 1;
  }
}

.titulo-portada {
  font-size: 3em;
  color: $fondo;
  z-index: 2;
}

.btn-banner {
  background-color: $negro;
  text-decoration: $nada;
  padding: 1em 4em;
  color: $fondo;
  font-size: 1.25em;
  margin: 1em 0;
  border-radius: map-get($borders , "border-1");
  z-index: 3;

  &:hover {
    background-color: $banner;
    transition: 0.5s;
  }
}

/* INICIO DE ARTICULO */

.article {
  width: $total;
  display: map-get($display,"flexible");
  flex-direction: column;
  justify-content: $centro;
  align-items: $centro;
}

.title-article {
  font-size: 2em;
  margin: 2rem;
}

.paragraph-article {
  font-size: 1.25em;
  width: 80%;
  text-align: justify;
  margin: 2em;
}

.carrucel {
  width: 70%;
  height: 350px;
  background-color: #ffbc0e;
  display: map-get($display,"flexible");
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

  img {
    width: $cero;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;

    &:hover {
      width: $tamano-carta;
      opacity: 1;
      filter: contrast(120%);
    }
  }
}

/* Segunda parte locales */

.custom-text-block {
  display: map-get($display,"flexible");
  align-items: $centro;
}

.custom-text {
  position: relative;
  width: 50%;
  text-align: $centro;
  left: 250px;
}

.custom-image img {
  position: relative;
  max-width: 40%;
  height: auto;
  left: 290px;
  margin: 50px;
  border-radius: map-get($borders, "border-2" );
}

/*INICIO DE FOOTER*/

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

footer {
  background: $negro;
  padding: 20px $cero;
  color: #fff;
  text-align: $centro;
}

.footer-content {
  display: map-get($display,"flexible");
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin: 10px;

  h2 {
    color: #f39c12;
  }

  p {
    color: #d5d5d5;
  }

  ul {
    display: map-get($display,"flexible");
    flex-direction: row;
    justify-content: $centro;
    list-style-type: $nada;
    padding: 0;
    gap: 1rem;
  }

  a {
    color: #fff;
    text-decoration: $nada;
  }

  .social {
    display: map-get($display,"flexible");
    align-items: $centro;

    ul {
      display: map-get($display,"flexible");
      list-style-type: $nada;
      padding: 0;
    }

    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}

#carouselExample {
  width: 35%;
  margin: auto;
}

.carousel-inner {
  height: 450px;
}

.carousel-item img {
  width: $total;
  height: $total;
  object-fit: cover;
}

/* Formulario*/

.formulario {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: map-get($borders,"border-5");
  box-shadow: $cero $cero 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: $total;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: map-get($borders , "border-3" );
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: $nada;
  border-radius: map-get($borders , "border-3" );
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}

/* Menu de cafes*/

.article h1 {
  margin: 50px;
  text-align: start;
}

.menu-container {
  display: map-get($display,"carta");
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: $centro;
  margin-top: 20px;
  margin-bottom: 2rem;
}

.coffee-item {
  text-align: $centro;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: map-get($borders,"border-5");
  background-color: #fff;
  margin: 4px;

  &:hover {
    transform: scale(1.1);
  }
}

.coffee-image {
  max-width: $total;
  border-radius: map-get($borders,"border-5");
}

.accordion {
  .accordion-item {
    width: $total;
    background-color: #212529;
  }

  .accordion-button, .accordion-collapse {
    background-color: #212529;
    color: #eceff1;
  }

  .accordion-button:hover {
    background-color: $hover;
  }
}

.accordion-button::after {
  background-color: $fondo;
}

.accordion {
  width: 800px;
}

.cards-nosotros {
  display: map-get($display,"carta");
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
  margin-top: 40px;
  margin-bottom: 40px;

  img {
    border-radius: map-get($borders,"border-5");
    width: $total;
    height: auto;
    box-shadow: $cero $cero 30px #000;
    transition: 0.5s ease;

    &:hover {
      width: 350px;
      opacity: 1;
      filter: contrast(120%);
    }
  }
}

.contenedor-locales {
  display: map-get($display,"flexible");
  gap: 2rem;
  margin-bottom: 30px;
  justify-content: $centro;
}

.texto-locales {
  width: $tamano-carta;
  display: map-get($display,"flexible");
  flex-direction: column;
  align-items: $centro;
}

.imagen-locales img {
  width: 500px;
  height: $tamano-carta;
  border-radius: map-get($borders, "border-4" );
}

.carta-bs {
  display: map-get($display,"flexible");
  justify-content: $centro;
  align-items: $centro;
}

.card-img-top {
  width: $total;
  height: $total;
}

.contenedor-menu {
  display: map-get($display,"flexible");
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
}

.carta-menu {
  width: $tamano-carta;
  height: 200px;
  position: relative;
}

.carta-text {
  position: absolute;
  top: 140px;
  color: white;
  width: $tamano-carta;
  height: 60px;
  background-color: #7c3b1a;
  opacity: 0.7;
  display: map-get($display,"flexible");
  justify-content: $centro;
  align-items: $centro;
  font-size: 20px;
  font-family: sans-serif;
}

.carta-menu:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* Responsive*/


@import "./partials/_mixins.scss";


.article{
  
  @include cel(){
    padding:10px;
    margin-top: 200px
  }
}

.carousel {
  @include cel(){
      width: $total;

  }
}

.footer{
  @include cel(){
    padding: 20px 0;
  }
}

.accordion{
  @include desk-2(){
    width: 500px;
  }

  @include cel(){
    width: 400px;
  }

  @include cel-2(){
    width: $tamano-carta;
  } 
}

.article{
  @include cel-3(){
    margin-bottom: 260px;
  }
}

.formulario{
  @include desk-3(){
    width: 90%;
  }
}

.cards-nosotros {
  @include desk-4(){
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
}

.cards-nosotros img:hover{
  @include desk-4(){
    width: 200px;
  }

}

.contenedor-locales{
  @include desk-1(){
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.imagen-locales img{
  @include desk-1(){
    width: 350px;
    height: 250px;
  }
}

